/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* ===================
    ALL: Orange Theme ->not so orange
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
    width:100%;
}


.hmenu{
    display: inline;
    display:flex;
    margin-right:30px; 
    list-style: none;
     
}

.btn-default{
        
        color:white !important;
        background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
 
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
 
 
 
background:#729EBF;
 
color:#FFF;
 
border-color: #31347B;
 
}



/* ============
    menu-nav
   ============= */

#menu-nav h1{
    background-color:#729EBF;
    border-radius: 6px;
    margin-bottom:2px;
    box-shadow: 3px 3px 3px #999;
    border:solid 1px #333A40;
    font-size: 2em;
    background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);   
}

#menu-nav {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
}

#menu-nav ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
}

#menu-nav li {
    background-color:#729EBF; 
    background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    border-radius: 6px;
    margin-bottom:2px;
    box-shadow: 3px 3px 3px #999;
    border:solid 1px #333A40
}

#menu-nav li li {
    max-height:0;
    overflow: hidden;
    transition: all .5s;
    border-radius:0;
    background: #444;
    box-shadow: none;
    border:none;
    margin:0
}

#menu-nav a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
}

#menu-nav ul li a, #menu li:hover li a {
    font-size:1em
}

#menu-nav li:hover {
    background: #729EBF;
}

#menu-nav li li:hover {
    background: #999;
}

#menu-nav ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}

#menu-nav li:hover li {
    max-height: 15em;
}


.header-container,
.footer-container {
    background: #2f005a;
    
}


.title {
    padding-top:7.5px;
    color: #e44d26;
}

.footer-container {
    border-bottom: 1px solid #e44d26;

    position: absolute;
    
    margin-top: 10px;
    
    width: 100%;
    text-align: center;    
}

/* ==============
    MOBILE: Menu
   ============== */

nav a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #e44d26;
    float: right;
    margin-left: 20px;
    
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
    
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: #e44d26;
    padding: 20px 0; 
    
}

.footer-container form{
    display: flex;
    justify-content: space-around;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-container {
    width: 80%;
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
    padding:50px; 
    /**
        border:2px solid red;
    */
    display: flex;
}

.main-container .row {
    width:105%;
    overflow:scroll;
    overflow-x:hidden;
    height: 400px;
    
}

.main-container .main-box{
    width:90%;
    overflow:scroll;
    overflow-x:hidden;
    height: 400px;
    text-align: center;
    
}

.main-container h3{
    color:#e44d26;
}



.form-container{
    width:90%;
}

.question{
    height: 50px;
    text-align: center;
    font-style: oblique;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    color: rgb(61, 78, 175);
    
}

.reponse{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    display: flex;
    justify-content: space-around;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */
 /*@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

/*     nav ul {
        width: 50%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        border-radius: 15px;
        list-style: none;
        display: flex;
        
    }

    nav li{
        width:250px;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    nav {
        float: right;
        width: 38%;
    } */
 

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

      nav ul li {
        display: inline;
    } 

    .oldie nav a {
        margin: 0 0.7%;
    }


@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }
    nav {
        /*float: right;*/
        width: 38%;
        list-style: none;
        display: flex;
    }
    
/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

   .hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}